<h1>Show User  role</h1>

<ul>

  <li>
    <strong>Role:</strong>
    <%= @user__role.role %>
  </li>

  <li>
    <strong>Valid from:</strong>
    <%= @user__role.valid_from %>
  </li>

  <li>
    <strong>Valid to:</strong>
    <%= @user__role.valid_to %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user__role_path(@conn, :edit, @user__role) %></span>
<span><%= link "Back", to: Routes.user__role_path(@conn, :index) %></span>
