<h1><%= @submission.title %></h1>
<span><i>Submitted in response to: <%= @topic.title %></i><span>
<img src="<%= @submission.image_url %>">
<span><%= @submission.description %></span>

<span><%= link "Edit", to: Routes.submission_path(@conn, :edit, @submission) %></span>
<span><%= link "Back", to: Routes.topic_submission_path(@conn, :index, @topic) %></span>
