<h1>Edit Section role</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.section_section__role_path(@conn, :update, @section, @section__role)) %>

<span><%= link "Back", to: Routes.section_section__role_path(@conn, :index, @section) %></span>
