<h1>New Section  role</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.section__role_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.section__role_path(@conn, :index) %></span>
