<h1>New Course  role</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.course__role_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.course__role_path(@conn, :index) %></span>
