<%= if length(@sections) == 0 do %>
  <span>Looks like you don't have any courses yet! Reach out to your professor or TA to get access.</span>
<% else %>
    <div class="card-holder">
        <%= render_many @sections, AppWeb.UserSectionView, "section-card.html", as: :section, conn: @conn %>
    </div>
<% end %>
