<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Yale Class Chat</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.6/dist/js/uikit-icons.min.js"></script>


    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <header>
      <section class="container top-matter uk-padding-small uk-padding-remove-vertical uk-padding-remove-right ">
        <a href="/">
        <div class="row">
            <div class="column">
                Yale Chat
            </div>
        </div>
        </a>
        <nav class="navigation">
            <span uk-icon="icon: table; ratio: 1" class="icon"></span>
            <div uk-dropdown>
                <ul class="uk-nav uk-dropdown-nav">
                    <li class=""><a href="/">Home</a></li>
                    <li class=""><a href="/about">About</a></li>
                    <li class="uk-nav-divider"></li>
                    <%= if is_nil((@conn.assigns[:current_user])) do %>
                      <li><a href="/auth/cas">Log In</a></span>
                    <% else %>
                      <li><%= link @conn.private.plug_session["uid"], to: Routes.user_path(@conn, :show, @conn.assigns.current_user) %></li>
                    <% end %>
                </ul>
            </div>
        </nav>

      </section>
    </header>
    <%= render_existing @view_module, "breadcrumbs.html", assigns %>
    <main role="main" class="container">
      <%= if get_flash(@conn) != Map.new() do %>
        <%= if !is_nil(get_flash(@conn, :info)) do %>
          <div class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><%= get_flash(@conn, :info) %></p>
          </div>
        <% end %>
        <%= if !is_nil(get_flash(@conn, :success)) do %>
          <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><%= get_flash(@conn, :success) %></p>
          </div>
        <% end %>
        <%= if !is_nil(get_flash(@conn, :error)) do %>
          <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p><%= get_flash(@conn, :error) %></p>
          </div>
        <% end %>
      <% end %>
      <div><p></p></div>
      <div class="main-body">
      <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <footer>
    <section class="container uk-section-muted uk-padding-small uk-padding-remove-bottom uk-padding-remove-right ">
        <div class="uk-container uk-container-small">
				<div class="uk-text-center uk-text-small uk-text-muted uk-section uk-section-small">
				This is an open source project under active development by Nick Peranzi and Kyle Jensen.
        <br/>Have a feature request or bug report? Please <a href="https://github.com/kljensen/yale-class-chat/issues/new">open an issue on GitHub</a> or <a href="mailto:nick.peranzi@yale.edu;kyle.jensen@yale.edu?Subject=Yale.chat%20Feature%20Request" target="_top">contact us</a>.
				</div>
			</div>
      </section>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
