<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Yale Class Chat</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <a class="home-link" href="/">Yale&nbsp;Chat</a>
        </div>
        <div class="top-links">
          <%= render AppWeb.LayoutView, "user-menu.html", assigns %>
        </div>
      </nav>
    </header>

    <%# Our breadcrumb module can be overloaded, which is helpful for liveview. %>
    <%# To overload it, just specify `:breadcrumb_module` in the `assigns`.  %>
    <% breadcrumb_module = Map.get(assigns, :breadcrumb_module) || @view_module %>
    <%= render_existing breadcrumb_module, "breadcrumbs.html", assigns %>

    <main role="main" class="container">
      <div class="main-body">
        <%= render AppWeb.LayoutView, "flash.html", assigns %>
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>

      <footer>
      <p>
          This is an open source project under active development by Nick Peranzi and Kyle Jensen.
          <br/>Have a feature request or bug report? Please <a href="https://github.com/kljensen/yale-class-chat/issues/new">open an issue on GitHub</a> or <a href="mailto:nick.peranzi@yale.edu;kyle.jensen@yale.edu?Subject=Yale.chat%20Feature%20Request" target="_top">contact us</a>.
      </p>
      </footer>

    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
