<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @comment.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @comment.description %>
  </li>

</ul>

<%= if @can_edit do %>
<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<% end %>
<span><%= link "Back", to: Routes.submission_path(@conn, :show, @submission) %></span>
