<h1>Show Comment</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @comment.title %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @comment.description %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.comment_path(@conn, :edit, @comment) %></span>
<span><%= link "Back", to: Routes.submission_comment_path(@conn, :index, @submission) %></span>
