<h1>Profile</h1>

<ul>

  <li>
    <strong>Net ID:</strong>
    <%= @user.net_id %> <i>(cannot be changed)</i>
  </li>

  <li>
    <strong>Display name:</strong>
    <%= @user.display_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.user_path(@conn, :edit, @user) %></span>
<span><%= link "Log Out", to: Routes.auth_path(@conn, :delete, @user) %></span>
