<%= if length(@courses) == 0 do %>
    <span>Looks like you don't have any courses yet! Create one to get started.</span>
<% else %>
    <div class="card-holder">
        <%= render_many @courses, AppWeb.CourseView, "course-card.html", as: :course, conn: @conn, semesters: @semesters %>
    </div>
<% end %>

<section class="container">
    <%= link "New Course", to: Routes.course_path(@conn, :new), class: "" %>
</section>
