<h1>Show Course</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>

  <li>
    <strong>Department:</strong>
    <%= @course.department %>
  </li>

  <li>
    <strong>Number:</strong>
    <%= @course.number %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.course_path(@conn, :edit, @course) %></span>
<span><%= link "Back", to: Routes.course_path(@conn, :index) %></span>
