<h1>New Topic in <%= @course.name %></h1>

<%= render "form.html", Map.put(assigns, :action, Routes.course_topic_path(@conn, :create, @course)) %>

<span><%= link "Back", to: Routes.course_path(@conn, :show, @course) %></span>
