
@font-face {
    font-family: "YaleNew";
    src: url("https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff2") format('woff');
}
@font-face {
    font-family: "Mallory-Bold";
    src: url("https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Bold.woff");
    font-weight: bold;
}
@font-face {
    font-family: "Mallory-Book";
    src: url("https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Book.woff");
}

body {
    font-family: "Mallory-Book";
    color: #222222;
    margin:0;
}

.top-matter{
    font-size: 2rem;
    font-family: "YaleNew";
    color: #fff;
    background-color: #003366;
}
.title{
}

a {
    color: #00356b;
}
a:hover {
    color: #286dc0;
}


