
@font-face {
    font-family: "YaleNew";
    src: url("https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/YaleNew/YaleNew-normal-normal/yalenew-roman-webfont.woff2") format('woff');
}

@font-face{
    font-family:"Mallory";
    src:url(https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Book.woff) format("woff"),url(/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Book.woff2) format("woff2");
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:"Mallory";
    src:url(https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Bold.woff) format("woff"),url(/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-Bold.woff2) format("woff2");
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:"Mallory";
    src:url(https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-BookItalic.woff) format("woff"),url(/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-BookItalic.woff2) format("woff2");
    font-weight:normal;
    font-style:italic;
}
@font-face{
    font-family:"Mallory";
    src:url(https://yaleidentity.yale.edu/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-BoldItalic.woff) format("woff"),url(/sites/all/themes/yalenew_base/fonts/Mallory/Mallory/Mallory-BoldItalic.woff2) format("woff2");
    font-weight:bold;
    font-style:italic;
}

html, body{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  scroll-behavior: smooth;

}

body {
    min-height: 100%;
    color: #222222;
    margin:0;
    font-family: "Mallory";
    padding-bottom:0rem;
    background-color:#ecf0f1;
    text-rendering: optimizeLegibility;
    font-smooth: auto;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing:grayscale;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    font-family: "Mallory";
    font-size: 1rem;
    margin-top: 0.5em;
    vertical-align:baseline;
    margin-right: 15px;
}
    

.main-body{
   padding: 0 1rem 1rem 1rem;
}

.top-matter{
    font-size: 2rem;
    font-family: "YaleNew";
    color: #fff;
    background-color: #003366;
}
.top-matter a{
    color: white;
}
.top-matter a:hover{
    color: white;
    text-decoration: none;
}

.topic-title, .submission-body {
    background-color: white;
}

.submission-stats {
    font-size: 0.8em;
    color: #999;
}

.comment-icon-count {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

span.comment-count {
    color: #999;
}

a {
    color: #00356b;
}
a:hover {
    color: #286dc0;
    text-decoration: none;
}

span.vote span {
  border: 1px solid #e5e5e5;
  line-height: 0.5em;
}

.uk-card-footer .details {
    font-size: 0.80rem;
    color: #999;
}

a.add {
    margin-right: 1.5em;
    margin-bottom: 1em;
    border: 1px solid #222;
}
a.add:hover {
    border: 1px solid #000;
}

article.uk-comment{
    background-color: white;
    padding: 15px;
}

li.comment{
    margin-top: 30px;
}

.uk-comment-list > :nth-child(n+2) {
    margin-top: 30px;
}

.speech-bubble {
    position: relative;
    border-radius: .4em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

ul li.comment:nth-child(odd) .speech-bubble:after {
    left: 30px;
    border-right: 0;
}
ul li.comment:nth-child(even) .speech-bubble:after {
    right: 15px;
    border-left: 0;
}

div.comment-author {
    font-size: 0.80rem;
    color: #999;
    margin-top: 15px;
}
div.comment-author-even {
    text-align:right;
    margin-right: 45px;
}
div.comment-author-odd {
    text-align:left;
    margin-left: 45px;
}

.breadcrumb-holder {
    margin: 0;
    padding: 0.5em 0 0.5em 15px;
}

.breadcrumb-holder ul {
    margin-bottom: 0;
}

.uk-breadcrumb span, .uk-breadcrumb a {
    text-transform: lower;
    font-variant-caps: small-caps;
}
.read-more {
    text-transform: lower;
    font-variant-caps: small-caps;
    color: #999;
}

// https://flatuicolors.com/palette/defo
.color-1{ border-left: 10px solid #1abc9c;}
.color-2{ border-left: 10px solid #16a085;}
.color-3{ border-left: 10px solid #2ecc71;}
.color-4{ border-left: 10px solid #27ae60;}
.color-5{ border-left: 10px solid #3498db;}
.color-6{ border-left: 10px solid #2980b9;}
.color-7{ border-left: 10px solid #9b59b6;}
.color-8{ border-left: 10px solid #8e44ad;}
.color-9{ border-left: 10px solid #34495e;}
.color-10{ border-left: 10px solid #2c3e50;}
.color-11{ border-left: 10px solid #f1c40f;}
.color-12{ border-left: 10px solid #f39c12;}
.color-13{ border-left: 10px solid #e67e22;}
.color-14{ border-left: 10px solid #d35400;}
.color-15{ border-left: 10px solid #e74c3c;}
.color-16{ border-left: 10px solid #c0392b;}
.color-17{ border-left: 10px solid #ecf0f1;}
.color-18{ border-left: 10px solid #bdc3c7;}
.color-19{ border-left: 10px solid #95a5a6;}
.color-20{ border-left: 10px solid #7f8c8d;}

.back-arrow {
    margin-right: 0.5rem;
}


